body
{
    background-color: #f3f3f3;
}

.container
{
    margin-top: 40px !important;
}

.registration-btn
{
    border: 1px solid #007bff !important;
    color: #007bff !important;
}

.center-block
{
    float: none !important;
}

.card-deck .card
{
    margin-bottom: 15px !important;
}


.border-right
{
    border-right: 1px solid #3d92ef !important;
}

.national-flag
{
    height: 20px;
    border: 1px solid white;
}

@media (min-width: 576px) {
    .card-deck .card {
        min-width: 320px !important;
        max-width: 320px !important;
    }
}