<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{register.title}"></title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css" />
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" th:href="@{/}" th:text="#{header.title}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{__${#httpServletRequest.requestURI}__} + '?lang=en'">
                            <svg class="national-flag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 480">
                                <path fill="#012169" d="M0 0h640v480H0z"/>
                                <path fill="#FFF" d="M75 0l244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0h75z"/>
                                <path fill="#C8102E" d="M424 281l216 159v40L369 281h55zm-184 20l6 35L54 480H0l240-179zM640 0v3L391 191l2-44L590 0h50zM0 0l239 176h-60L0 42V0z"/>
                                <path fill="#FFF" d="M241 0v480h160V0H241zM0 160v160h640V160H0z"/>
                                <path fill="#C8102E" d="M0 193v96h640v-96H0zM273 0v480h96V0h-96z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{__${#httpServletRequest.requestURI}__} + '?lang=nl'">
                            <svg class="national-flag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 480">
                                <path fill="#21468b" d="M0 0h640v480H0z"/>
                                <path fill="#fff" d="M0 0h640v320H0z"/>
                                <path fill="#ae1c28" d="M0 0h640v160H0z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{__${#httpServletRequest.requestURI}__} + '?lang=it'">
                            <svg class="national-flag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 480">
                                <g fill-rule="evenodd" stroke-width="1pt">
                                    <path fill="#fff" d="M0 0h640v480H0z"/>
                                    <path fill="#009246" d="M0 0h213.3v480H0z"/>
                                    <path fill="#ce2b37" d="M426.7 0H640v480H426.7z"/>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/register}" th:text="#{header.register}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}" th:text="#{header.login}"></a>
                    </li>
                </ul>
                <span class="navbar-text"></span>
            </div>
        </nav>
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <h1 th:text="#{register.header}"></h1>
                        <div th:if="${error}" th:switch="${error}">
                            <div th:case="'email_error'" class="alert alert-danger" >
                                <strong th:text="#{form.error}"></strong> <span th:text="#{register.form.error.email}"></span>
                            </div>
                            <div th:case="'email_taken'" class="alert alert-danger" >
                                <strong th:text="#{form.error}"></strong> <span th:text="#{register.form.error.email.taken}"></span>
                            </div>
                            <div th:case="'phone_taken'" class="alert alert-danger" >
                                <strong th:text="#{form.error}"></strong> <span th:text="#{register.form.error.phone.taken}"></span>
                            </div>
                            <div th:case="'password_error'" class="alert alert-danger" >
                                <strong th:text="#{form.error}"></strong> <span th:text="#{register.form.error.password}"></span>
                            </div>
                            <div th:case="'name_error'" class="alert alert-danger" >
                                <strong th:text="#{form.error}"></strong> <span th:text="#{register.form.error.name}"></span>
                            </div>
                            <div th:case="'phone_error'" class="alert alert-danger" >
                                <strong th:text="#{form.error}"></strong> <span th:text="#{register.form.error.phone}"></span>
                            </div>
                            <div th:case="*" class="alert alert-success">
                                <span th:text="#{register.form.success}"></span> <a th:href="@{/}" th:text="#{register.form.success.homepage}"></a>
                            </div>
                        </div>
                        <form method="post" action="/register">
                            <div class="form-group">
                                <label for="newUserEmail" th:text="#{register.form.email.label}"></label>
                                <input type="email" class="form-control" id="newUserEmail" th:placeholder="#{register.form.email.placeholder}" name="email">
                            </div>
                            <div class="form-group">
                                <label for="newUserPassword" th:text="#{register.form.password.label}"></label>
                                <input type="password" class="form-control" id="newUserPassword" th:placeholder="#{register.form.password.placeholder}" name="password">
                            </div>
                            <div class="form-group">
                                <label for="newUserName"th:text="#{register.form.name.label}"></label>
                                <input type="text" class="form-control" id="newUserName" th:placeholder="#{register.form.name.placeholder}" name="name">
                            </div>
                            <div class="form-group">
                                <label for="newUserPhone" th:text="#{register.form.phone.label}"></label>
                                <input type="text" class="form-control" id="newUserPhone" th:placeholder="#{register.form.phone.placeholder}" name="phone">
                            </div>
                            <button type="submit" class="btn btn-primary" th:text="#{register.form.submit}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>